<h1>Групи</h1>
<p *ngIf="!groups"><em>Загрузка...</em></p>
<button type="button" style="width:100px;" class="btn btn-primary btn-margin-5" [routerLink]="['../addGroup']">Додати</button>
<table class='table' *ngIf="groups">
    <thead>
        <tr>
            <th>Назва групи</th>
            <th>Факультет</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let group of groups">
            <td>{{ group.Name }}</td>
            <td>{{ getfacultyName(group.FacultyId) }}</td>
        </tr>
    </tbody>
</table>
